{
    "DATA_WAREHOUSE_COURSE_IDS": ["course_id_1","course_id_2"],
    "DATA_WAREHOUSE_SHORT_COURSE_IDS": ["course_id_1_short","course_id_2_short"],
    "CANVAS_DATA_ID_INCREMENT": 17700000000000000,
    "TIME_LIMIT": "2021-06-01",
    "EXPANDED_VS_EVENTS_QUERIES": {
        "canvas": {
            "expanded_query_array": [
                "SELECT 'canvas' AS resource_type, ",
                "REGEXP_EXTRACT(object.id, r'.*:(.*)') AS resource_id, ",
                "CAST(REGEXP_EXTRACT(membership.id, r'.*:(.*)') AS INT64) AS user_id, ",
                "cast(null as string) AS user_login_name, ",
                "CAST(REGEXP_EXTRACT(`group`.id, r'.*:(.*)') AS INT64) AS course_id, ",
                "COALESCE( ",
                "JSON_EXTRACT_SCALAR(object.extensions, '$[\\'com.instructure.canvas\\'][asset_name]'), ",
                "JSON_EXTRACT_SCALAR(object.extensions, '$[\\'com.instructure.canvas\\'][filename]'), ",
                "object.name, ",
                "'attachment' ",
                ") as name, ",
                "datetime(EVENT_TIME) as access_time ",
                "FROM event_store.expanded ",
                "where ",
                "JSON_EXTRACT_SCALAR(ed_app.json, '$.id') IN UNNEST(['http://m.canvas.umich.edu/', 'http://umich.instructure.com/']) ",
                "and type = 'NavigationEvent' ",
                "and STARTS_WITH(object.id, 'urn:instructure:canvas:attachment') ",
                "and action = 'NavigatedTo' ",
                "and membership.id is not null ",
                "and REGEXP_EXTRACT(`group`.id, r'.*:(.*)') IN UNNEST(@course_ids) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time "
            ],
            "events_query_array": [
                "SELECT 'canvas' AS resource_type, ",
                "CAST(SUBSTR(JSON_EXTRACT_SCALAR(event, '$.object.id'), 35) AS STRING) AS resource_id, ",
                "CAST(SUBSTR(JSON_EXTRACT_SCALAR(event, '$.membership.member.id'), 29) AS INT64) AS user_id, ",
                "cast(null as string) AS user_login_name,",
                "CAST(SUBSTR(JSON_EXTRACT_SCALAR(event, '$.group.id'), 31) AS INT64) AS course_id, ",
                "COALESCE(",
                "JSON_EXTRACT_SCALAR(event, '$.object.extensions[\\'com.instructure.canvas\\'].asset_name'), ",
                "JSON_EXTRACT_SCALAR(event, '$.object.extensions[\\'com.instructure.canvas\\'].filename'), ",
                "JSON_EXTRACT_SCALAR(event, '$.object.name'), ",
                "'attachment'",
                ") as name, ",
                "datetime(EVENT_TIME) as access_time ",
                "FROM event_store.events ",
                "where JSON_EXTRACT_SCALAR(event, '$.edApp.id') IN ",
                "UNNEST(['http://m.canvas.umich.edu/'   , 'http://umich.instructure.com/'   ]) ",
                "and type = 'NavigationEvent' ",
                "and SUBSTR(JSON_EXTRACT_SCALAR(event, '$.object.id'), 24, 10) = 'attachment' ",
                "and JSON_EXTRACT_SCALAR(event, '$.action') = 'NavigatedTo' ",
                "and JSON_EXTRACT_SCALAR(event, '$.membership.member.id') is not null ",
                "and SUBSTR(JSON_EXTRACT_SCALAR(event, '$.group.id'), 31) IN UNNEST(@course_ids) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time"
            ]
        },
        "leccap": {
            "expanded_query_array": [
                "select 'leccap' AS resource_type, ",
                "REGEXP_EXTRACT(object.id, r'.*:(.*)') AS resource_id, ",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(federated_session_json, '$.messageParameters.custom_canvas_user_id') AS INT64) AS user_id, ",
                "cast(null as string) AS user_login_name,",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(federated_session_json, '$.messageParameters.custom_canvas_course_id') AS INT64) AS course_id, ",
                "object.name as name, ",
                "datetime(EVENT_TIME) as access_time ",
                "FROM event_store.expanded ",
                "where ed_app.id = 'https://leccap.engin.umich.edu/#applicationName=Lecture+Capture'  ",
                "and type = 'MediaEvent' and action = 'Started' ",
                "and JSON_EXTRACT_SCALAR(federated_session_json, '$.messageParameters.custom_canvas_course_id') is not null ",
                "and JSON_EXTRACT_SCALAR(federated_session_json, '$.messageParameters.custom_canvas_course_id') IN UNNEST(@course_ids_short) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time"
            ],
            "events_query_array": [
                "select 'leccap' AS resource_type, ",
                "CAST(SUBSTR(JSON_EXTRACT_SCALAR(event, '$.object.id'), 48) AS STRING) AS resource_id, ",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(event, '$.federatedSession.messageParameters.custom_canvas_user_id') AS INT64) AS user_id, ",
                "cast(null as string) AS user_login_name,",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(event, '$.federatedSession.messageParameters.custom_canvas_course_id') AS INT64) AS course_id, ",
                "JSON_EXTRACT_SCALAR(event, '$.object.name') as name, ",
                "datetime(EVENT_TIME) as access_time ",
                "FROM event_store.events ",
                "where JSON_EXTRACT_SCALAR(event, '$.edApp') = 'https://leccap.engin.umich.edu/#applicationName=Lecture+Capture'   ",
                "and type = 'MediaEvent' and JSON_EXTRACT_SCALAR(event, '$.action') = 'Started' ",
                "and JSON_EXTRACT_SCALAR(event, '$.federatedSession.messageParameters.custom_canvas_course_id') is not null ",
                "and JSON_EXTRACT_SCALAR(event, '$.federatedSession.messageParameters.custom_canvas_course_id') IN UNNEST(@course_ids_short) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time"
            ]
        },
        "mivideo": {
            "expanded_query_array": [
                "SELECT 'mivideo' AS resource_type, ",
                "replace(object.id, 'https://aakaf.mivideo.it.umich.edu/caliper/info/media/' , '') AS resource_id, ",
                "cast(-1 as INT64) AS user_id, ",
                "replace(actor.id, 'https://aakaf.mivideo.it.umich.edu/caliper/info/user/' , '') AS user_login_name, ",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(object.extensions, '$.kaf:course_id') AS INT64) AS course_id, ",
                "object.name AS name, ",
                "datetime(EVENT_TIME) AS access_time ",
                "FROM event_store.expanded WHERE ",
                "ed_app.id = 'https://aakaf.mivideo.it.umich.edu/caliper/info/app/KafEdApp' ",
                "AND TYPE = 'MediaEvent'",
                "AND action = 'Started'",
                "AND JSON_EXTRACT_SCALAR(object.extensions, '$.kaf:course_id') IN UNNEST(@course_ids_short) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time"
            ],
            "events_query_array": [
                "SELECT 'mivideo' AS resource_type, ",
                "replace(JSON_EXTRACT_SCALAR(event, '$.object.id'), 'https://aakaf.mivideo.it.umich.edu/caliper/info/media/'  , '') AS resource_id, ",
                "cast(-1 as INT64) AS user_id,",
                "replace(JSON_EXTRACT_SCALAR(event, '$.actor.id'), 'https://aakaf.mivideo.it.umich.edu/caliper/info/user/'  , '') AS user_login_name, ",
                "@canvas_data_id_increment + CAST(JSON_EXTRACT_SCALAR(event, '$.object.extensions.kaf:course_id') AS INT64) AS course_id, ",
                "JSON_EXTRACT_SCALAR(event, '$.object.name') AS name,",
                "datetime(EVENT_TIME) AS access_time ",
                "FROM event_store.events WHERE ",
                "COALESCE(JSON_EXTRACT_SCALAR(event, '$.edApp.id'), JSON_EXTRACT_SCALAR(event, '$.edApp')) = 'https://aakaf.mivideo.it.umich.edu/caliper/info/app/KafEdApp' ",
                "AND TYPE = 'MediaEvent' ",
                "AND JSON_EXTRACT_SCALAR(event, '$.action') = 'Started' ",
                "AND JSON_EXTRACT_SCALAR(event, '$.object.extensions.kaf:course_id') IN UNNEST(@course_ids_short) ",
                "and event_time > @time_limit ",
                "order by resource_id, user_id, access_time"
            ]
        }
    }
}
