# MySQL Configuration
# Mysql Django Engine name
# These are MYSQL are only needed for MySQL on localhost
# They're read from the env.json otherwise
MYSQL_ENGINE=django.db.backends.mysql
# Local database name
MYSQL_DATABASE=student_dashboard
# Local database user
MYSQL_USER=student_dashboard_user
# Local database password
MYSQL_PASSWORD=student_dashboard_pw
# Local database host
MYSQL_HOST=student_dashboard_mysql
# Local database port
MYSQL_PORT=3306
# Local database root password (optional)
MYSQL_ROOT_PASSWORD=student_dashboard_root_pw

# These 3 are the only ones you should need for production
# This is built into the Docker Image
TZ=America/Detroit

# Location to settings file for all app settings
ENV_FILE=/secrets/env.json

# Paths to special login credentials for BigQuery
GOOGLE_APPLICATION_CREDENTIALS=/secrets/bq_cred.json