#!/bin/bash

# Case insenstive match
shopt -s nocaseglob

# All values provided in this sample are fabricated; replace them with data relevant to your local application instance.
# All passed DateTime strings are assumed to be in the UTC timezone.

# Setup demo course(s)
./manage.py course --course_id=999999 --name="Some Course Name"
