gunicorn==22.0.0

Django==4.2.15
whitenoise==6.6.0

django-cron==0.6.0 #deprecated

django-watchman==1.3.0
django-su==1.0.0
django-mysql==4.12.0
# The alternative to this is redis, but we don't use redis yet
django-constance[database]==3.1.0
django-webpack-loader==2.0.1

django-csp==3.7  #no updates
django-import-export==3.3.1
django-admin-rangefilter==0.11.2
# Django/Python fontawesome library supporting CSS in UI
fontawesomefree==6.4.2

# graphql
graphene-django==3.1.5
graphql-core-promise==3.2.3.post1
django-filter==23.3

# object-level permissions
rules==3.3

# These should be okay to update minors
numpy==1.26.1
pandas==2.1.2
pangres==4.2.1

SQLAlchemy==2.0.23
mysqlclient==2.2.4
google-cloud-bigquery[pandas]==3.19.0

debugpy==1.8.0
jsonschema==4.19.2
pinax-eventlog==5.1.1  #no updates
pycryptodome==3.19.1
PyLTI1p3==2.0.0 #no further update Nov 2022)
hjson==3.1.0
pytz==2023.3.post1
