Django==1.10.0
gunicorn==19.6.0
whitenoise==3.3.1
djangosaml2
mysql-connector
django-nvd3
django-registration
django-crontab
mysqlclient
sqlalchemy
psycopg2-binary
canvasapi
pandas
PyMySQL
django-npm
google-cloud-bigquery
