gunicorn>=19.9.0,<19.9.99

# Not sure if Django 2 will work yet, hold back to LTS
Django>=1.11,<1.11.99
whitenoise>=3.3.1,<3.3.99

django-registration>=3.0,<3.0.99
django-cron>=0.5.1,<0.5.99
django-yarn>=0.0.1,<0.0.99
django-watchman>=0.15.0,<0.15.99
django-su>=0.8.0,<0.8.99
django-settings-export>=1.2.1,<1.2.99
django-macros>=0.4.0,<0.4.99
django-debug-toolbar>=1.10.1,<1.10.99

# object-level permissions
rules>=2.0.1,<2.0.99
django-model-utils>=3.1.2,<3.1.99

# These should be okay to update minors
numpy>=1.14,<1.14.99
pandas>=0.23,<0.23.99

requests>=2.20,<2.20.99
pyOpenSSL>=18.0,<18.0.99
canvasapi>=0.10,<0.10.99
protobuf>=3.6,<3.6.99

# These caused problems in the past so test when updating
djangosaml2==0.17.2
pysaml2==4.6.2

SQLAlchemy>=1.2.7,<1.2.99
psycopg2>=2.7.5,<2.8 --no-binary psycopg2
mysqlclient>=1.3.13,<1.3.99
google-cloud-bigquery>=1.5.0,<1.5.99

python-decouple>=3.1,<3.99

pinax-eventlog>=2.0.3,<2.99
ptvsd>=4.2.0,<4.2.99
django-ptvsd-debug==1.0.3
django-lti-auth==1.0.0