.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

.myGradeline {
    font-weight: bold;
    background-color: whitesmoke;
    font-size: 9px;
}
.grade-details {
        padding-left: 10px;
}
