.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

.myGradeline {
    fill: none;
    stroke: #444;
    background-color: whitesmoke;
    font-size: 10px;
}
.grade-details {
        padding-left: 10px;
}
