{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments Preparation view{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/assign.css">
{% endblock %}

{% block content %}
<h4 style="text-align:center"> Assignment Planning Tool</h4>
<div class="container-fluid">
    <h5 style="padding-left: 10px">Progress toward Final Grade</h5>
    <div id="chart"></div>
</div>
<br><br>
<div class="container-fluid">
<div class="row">
<div style="padding-left: 40px"  class="col-lg" ng-controller="mainController" ng-app="visApp">
    <div class="row">
        <div class="column">
            <h5>Assignments Due By Date</h5>
            <span>Show assignments that weigh at least</span>
            <p ng-show="percentFilterEnabled">
                <select ng-change="updatePercentFilter()" ng-model="percent_filter" ng-options="obj.value as obj.text for obj in percent"></select>
            </p>
        </div>
        <div class="column">
            <span>Assignment Status: </span><br>
            <div class="graded"></div>
            <span style="display: inline-block;">Graded</span><br>
            <div class="ungraded"></div>
            <span style="display: inline-block;">Not Yet Graded</span><br>
        </div>
    </div>
    <table class="table table_container">
        <thead>
        <th style="padding: 0 10px 0 0">Week</th>
        <th style="padding: 0 40px 0 0">Due Date</th>
        <th style="padding: 0 110px 0 0">Title</th>
        <th style="padding: 0 0 0 80px">Percent of final grade</th>
        </thead>
    </table>
    {% verbatim %}
    <div class="table-style">
        <table class="table table_container">
            <tr ng-if="data.length!=0" ng-repeat="week in data" id="{{week.id}}">
                <td ng-if="!week.due_date_items[0].assignment_items[0].current_week" >Week {{week.week}}</td>
                <td ng-if="week.due_date_items[0].assignment_items[0].current_week" class="current-week-indicator">Week {{week.week}}</td>
                <td class="table_container table_container1">
                    <table class="table">
                        <tr ng-repeat="due_dates in week.due_date_items">
                            <td class="time">{{due_dates.due_date}}</td>
                            <td class="table_container table_container2">
                                <table class="table assignments-info">
                                    <tr ng-repeat="assignments in due_dates.assignment_items">
                                        <div class="container-bar">
                                            <td class="bar_text" assign-title={{assignments.name}}>{{assignments.name | limitTo:20}}{{assignments.name.length > 20?'&hellip;':''}}</td>
                                        </div>
                                        <td class="bar_cell">
                                            <div ng-if="assignments.graded && assignments.points_possible != 0"
                                                 data-descr={{assignments.towards_final_grade}}%
                                                 class="bar blue-bar" style="--bar-width:{{assignments.towards_final_grade}}%;"
                                                 tooltip-info="Score: {{assignments.score==null?'NA':assignments.score}}/{{assignments.points_possible}}
                                                         {{assignments.drop_lowest!=0?'.The lowest ' +assignments.drop_lowest+' scores will be dropped from this assignment group':''}}
                                                         {{assignments.drop_highest!=0?'.The highest '+assignments.drop_highest+' scores will be dropped from this assignment group':''}}">
                                            </div>
                                            <div ng-if="!assignments.graded && assignments.points_possible != 0"
                                                 data-descr={{assignments.towards_final_grade}}%
                                                 class="bar grey-bar" style="--bar-width:{{assignments.towards_final_grade}}%;"
                                                 tooltip-info="Score: {{assignments.score==null?'NA':assignments.score}}/{{assignments.points_possible}}
                                                         {{assignments.drop_lowest!=0?'.The lowest ' +assignments.drop_lowest+' scores will be dropped from this assignment group':''}}
                                                         {{assignments.drop_highest!=0?'.The highest '+assignments.drop_highest+' scores will be dropped from this assignment group':''}}">
                                            </div>
                                            <div ng-if="assignments.points_possible == 0"
                                                 data-descr={{assignments.towards_final_grade}}%
                                                 class="bar zero-weight" style="--bar-width:{{assignments.towards_final_grade}}%;"
                                                 tooltip-info="No Points">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

            <td ng-show="data.length == 0">
                There's no data for selection
            </td>

        </table>
    </div>
    {% endverbatim %}
</div>
<div class="col-sm">
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'd3-v4/build/d3.min.js' %}"></script>
<script src="/static/js/assign-progress.js"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/factories.js' %}"></script>
{% endblock %}
