{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    {% block css %} {% endblock %}
</head>
<body class="container-fluid">
    <header><a href="/">Student Dashboard</a> :: 
        {% if user.is_authenticated %}Welcome, {{ user.get_username }}. You can <a href="/accounts/logout">logout here</a>.
        {% else %}Welcome! Please <a href="/accounts/login">login</a>
        {% endif %}
        <hr>
    </header>
    {% block content %}
    {% endblock %}
    <footer><hr>Copyright 2018 University of Michigan ITS Teaching and Learning</footer>
</body>
<!-- Common Javascript -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124181744-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124181744-1');
</script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
{% block js %}
{% endblock %}
</html>
