{% load static %}
{% load macros %}
{% load tz %}

<!DOCTYPE html>
<!-- Use this as a "macro", no default title set -->
{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% use_macro title %}</title>
    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    {% block css %} {% endblock %}
</head>
<body class="container-fluid">
    {% include "su/is_su.html" %}
    <header class="row border-between">
        <div class="col-md-4 text-left">
            <a href="/courses/{{ current_user_course_id }}/">My Learning Analytics</a> {% if course_id %} : {{ course_name }} {% endif %}
        </div>
        <div class="col-md-4 text-center lead">
            {% use_macro title %}
        </div>
        <div class="col-md-4 text-right">
            {% if user.is_authenticated %}
                <span id="help"></span>
                <a href="{{ settings.LOGOUT_URL }}">Logout</a> ({{ user.get_username }})
            {% else %}
                <a href="{{ settings.LOGIN_URL }}">Login</a>
            {% endif %}
            {% if user.is_superuser %}
                | <a href="/admin">Admin</a>
            {% endif %}
        </div>
        <hr>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <hr>
        <div class="row">
            <div class="col text-left">Copyright © 2018 The Regents of the University of Michigan</div>
            <div class="col text-right">Data last updated on {{last_updated|date:"m/d/Y P T"}}</div>
        </div>
        {% if user.is_superuser %}
        <div id="build-info" class="alert alert-info" style="display:none;">{{build}}</div>
        {% endif %}
    </footer>
</body>
<!-- Common Javascript -->
{% if settings.GA_ID %}
<!-- Google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GA_ID }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ settings.GA_ID }}');
</script>
{% endif %}
<script>
// Setup a top level js object to hold global values
var dashboard = {
{% if course_id %}"course_id": '{{settings.DATA_WAREHOUSE_ID_PREFIX}}'+'{{ course_id }}',
{% else %}"course_id": 0,
{% endif %}
};
</script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
<script>
    $(document).ready(function () {
        url = window.location.href;
        var help_link = 'https://sites.google.com/umich.edu/my-learning-analytics-help/home';
        if (url.includes('grades')) {
            help_link = help_link + '/grade-distribution';
        } else if (url.includes('assignments')) {
            help_link = help_link + '/assignment-planning';
        } else if (url.includes('file')) {
            help_link = help_link + '/files-accessed';
        }
        $('<a href=' + help_link + ' style="padding-right:10px" target="_blank">Help</a>').insertAfter($('#help'));
    });
</script>
{% block js %}
{% endblock %}
</html>
