{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center flex-wrap">
		<div class="UnDashboardCard" tabindex="0" role="button"  onKeyPress="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/view_file_access_within_week/'" onclick="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/view_file_access_within_week/';">
			<div id="Undashboard_FileTool" class="UnDashboardCard_Header">
                <img src={% static "images/File_access_trends_icon.png" %} width="247" height="126" alt="Chart with showing files accessed by peers"/>
		    </div>
			<div class="UnDashboardCard_Title">
				Files Accessed
			</div>
			<div class="UnDashboardCard_Description">
				See what files you and your peers are reading.
			</div>
		</div>
		<div class="UnDashboardCard" tabindex="0" role="button"  onKeyPress="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/assignments/'" onclick="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/assignments/';">
			<div id="Undashboard_AssignmentTool" class="UnDashboardCard_Header">
                <img src={% static "images/assignments_planning_icon.png" %} width="247" height="126" alt="Chart with assignment relative weights"/> 
            </div>
			<div class="UnDashboardCard_Title">
				Assignment Planning
			</div>
			<div class="UnDashboardCard_Description">
				See what assignments have the greatest impact on your grade.
			</div>
		</div>
        <div class="UnDashboardCard" tabindex="0" role="button" onKeyPress="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/grades/'" onclick="window.location='/courses/{{ settings.DEFAULT_COURSE_ID }}/grades/';">
			<div id="Undashboard_GradeTool" class="UnDashboardCard_Header"> 
                <img src={% static "images/grade_distribution_Icon.png" %} width="247" height="126" alt="Chart with grade distribution"/> 
            </div>
			<div class="UnDashboardCard_Title">
				Grade Distribution
			</div>
			<div class="UnDashboardCard_Description">
				See where your grade sits within the course grade distribution.
			</div>
		</div>
	</div>
{% endblock %}