{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center flex-wrap">
		<div {% if course_view_option.show_files_accessed %} style="display: block"  {% else %} style="display: none" {% endif %} class="MyLACard" tabindex="0" role="button"  onKeyPress="window.location='/courses/{{ current_user_course_id }}/view_file_access_within_week/'" onclick="window.location='/courses/{{ current_user_course_id }}/view_file_access_within_week/';">
			<div id="MyLA_FileTool" class="MyLACard_Header">
                <img src={% static "images/File_access_trends_icon.png" %} width="247" height="126" alt="Chart with showing files accessed by peers"/>
		    </div>
			<div class="MyLACard_Title">
				Files Accessed
			</div>
			<div class="MyLACard_Description">
				See what files you and your peers are reading.
			</div>
		</div>
		<div {% if course_view_option.show_assignment_planning %} style="display: block"  {% else %} style="display: none" {% endif %} class="MyLACard" tabindex="0" role="button"  onKeyPress="window.location='/courses/{{ current_user_course_id }}/assignments/'" onclick="window.location='/courses/{{ current_user_course_id }}/assignments/';">
			<div id="MyLA_AssignmentTool" class="MyLACard_Header">
                <img src={% static "images/assignments_planning_icon.png" %} width="247" height="126" alt="Chart with assignment relative weights"/>
            </div>
			<div class="MyLACard_Title">
				Assignment Planning
			</div>
			<div class="MyLACard_Description">
				See what assignments have the greatest impact on your grade.
			</div>
		</div>
        <div {% if course_view_option.show_grade_distribution %} style="display: block"  {% else %} style="display: none" {% endif %} class="MyLACard" tabindex="0" role="button" onKeyPress="window.location='/courses/{{ current_user_course_id }}/grades/'" onclick="window.location='/courses/{{ current_user_course_id }}/grades/';">
			<div id="MyLA_GradeTool" class="MyLACard_Header">
                <img src={% static "images/grade_distribution_Icon.png" %} width="247" height="126" alt="Chart with grade distribution"/>
            </div>
			<div class="MyLACard_Title">
				Grade Distribution
			</div>
			<div class="MyLACard_Description">
				See where your grade sits within the course grade distribution.
			</div>
		</div>
	</div>
{% endblock %}
