{% load static %}
<meta charset="utf-8">
<style>

    .label {
      fill: black;
      font: 10px sans-serif;
    }
    #chart {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

</style>
<body>
    <!-- week slider -->
    <div id="slider_label">View File Access Patterns in last 1 week: </div>
    <div id="slider"></div>
    <input type="hidden" name="slider_num" id="slider_num" />
    <div/>
    Please choose Grade level:
    <select class="grade" name="grade" id="grade">
        <option value="all" selected>All Grade</option>
        <option value="A" >A</option>
        <option value="B" >B</option>
        <option value="C" >C</option>
        <option value="D" >D</option>
        <option value="F" >F</option>
    </select>

    <div id="chart"></div>

    <script src="{% static 'd3-v4/build/d3.min.js' %}"></script>
    <script src="{% static 'd3-scale-chromatic/dist/d3-scale-chromatic.min.js' %}"></script>
    <script src="{% static 'd3-tip/dist/index.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="/static/js/file_access_within_week.js"></script>
    <link rel="stylesheet" href="/static/css/file_access_within_week.css" />
</body>
