{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/css/rSlider.min.css">
<link rel="stylesheet" href="/static/css/file_access_within_week.css" />
<style>

    .label {
      fill: black;
      font: 10px sans-serif;
    }
    #chart {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

</style>
{% endblock %}
{% block content %}
    <!-- week slider -->
    <br/>
    <br/>
    <h2>What Students Are Reading?</h2>


    <input type="text" id="slider" class="slider">


    <input type="hidden" name="slider_num" id="slider_num" />
    <div/>

    Top files access by
    <select class="grade" name="grade" id="grade">
        <option value="all" selected>All Grade</option>
        <option value="A" >A</option>
        <option value="B" >B</option>
        <option value="C" >C</option>
        <option value="D" >D</option>
        <option value="F" >F</option>
        <option value="NO_GRADE" >NO GRADE</option>
    </select> <span id="slider_label">in last 1 week: </span>

    <div id="chart"></div>
{% endblock %}
{% block js %}
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'd3-tip/dist/index.js' %}"></script>
    <script src="{% static 'js/rSlider.min.js' %}"></script>
    <script src="{% static 'js/file_access_within_week.js'%}"></script>
{% endblock %}
